<main>
  <header>
    <h1>
      Process Viewer
    </h1>
  </header>

  <section class="matrix">
    <table>
      <thead>
        <tr>
          <td>&nbsp;</td>
          <td>Step 1</td>
          <td>Step 2</td>
          <td>Step 3</td>
          <td>Step 4</td>
          <td>Step 5</td>
          <td>Step 6</td>
          <td>Step 7</td>
          <td>Step 8</td>
        </tr>
      </thead>

      <tbody id="sortable">
        <tr ng-repeat="deliverable in $ctrl.sbModel" ng-value="{{$index}}">
          <td>
            <i class="fa fa-bars" aria-hidden="true"></i>
            {{deliverable.name}}
          </td>
          
          <td ng-repeat="step in deliverable.activities" ng-value="{{$index}}">
            <label class="label--checkbox" ng-if="step.progress == 100">
              <input type="checkbox" class="checkbox" checked>
            </label>

            <label class="label--checkbox" ng-if="step.progress == 50">
              <input type="checkbox" class="checkbox">
            </label>

            <label class="label--checkbox" ng-if="step.progress == 0">
              <input type="checkbox" class="checkbox">
            </label>

            <div class="details">
              <p>{{step.id}}</p>
              <p>{{step.name}}</p>
              <p>{{step.utcStart}}</p>
              <p>{{step.utcEnd}}</p>
              <p>{{step.progress}}</p>
              <p>{{step.step}}</p>
              <p>{{step.color}}</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
